.form-box.error input {
  border: 3px solid rgb(255, 159, 175);
}

.form-box .error-text {
  /* display: none; Nie dodaje tego, a visibility, bo none jakby usuwa mi ten element więc wpływa to na wyglad */
  visibility: hidden; /*hidden sprawia, że el. jest, ale niewidoczny. Wiec odstępy mam nadal jakie chciałam*/
  color: rgb(244, 118, 96);
  font-size: medium;
  margin-left: 7px;
}

.form-box.error .error-text {
  /*jeżeli klasa form-box zawiera error to dla .error-text są ustawienia stylów*/
  visibility: visible;
  padding-bottom: 15px;
}
